version: '3.8'

services:
  backend:
    build: ./backend
    container_name: expense-flow-backend
    ports:
      - "1333:1333"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: expense-flow-frontend
    ports: 
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules